
<div class="container">
  <div class="d-flex align-items-center vh-100">

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="julio_piscina.jpeg" alt="Julio">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">Know more about Julio</p>
          <a href="/about" class="btn btn-primary">About Julio</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="romantic_classics.jpg" alt="Julio">
        <div class="card-body">
          <h5 class="card-title">Albums</h5>
          <p class="card-text">Julio´s unique works</p>
          <a href="/works" class="btn btn-primary">Take me there</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="julio_album.jpeg" alt="Julio">
        <div class="card-body">
          <h5 class="card-title">Photos</h5>
          <p class="card-text">Julio´s life pics</p>
          <a href="/photos" class="btn btn-primary">Let me check</a>
        </div>
      </div>
    </div>

  </div>
</div>

