<div class = "container">
<h1>Welcome to the Julio Iglesias Fan Page</h1>
<br>
<a class="btn btn-primary" href="/about" role="button">Get to Know more about Julio</a>
<a class="btn btn-primary" href="/works" role="button">Julio´s unique works</a>
<a class="btn btn-primary" href="/photos" role="button">Life in pictures</a>
</div>