
<div class="container">
  <div class="d-flex align-items-center vh-100">

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="julio_piscina.jpeg" alt="Julio">
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="romantic_classics.jpg" alt="Julio">
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="julio_album.jpeg" alt="Julio">
      </div>
    </div>

  </div>
</div>
