<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Julio Iglesias</title>
        <link rel="stylesheet" href="works.css" />
    </head>
    <body>
        <h1>Awards and Achivemments</h1>       
            <ul>
                <li>In 1973, he was awarded the ‘Best New Artist of the Year’ at the Guaicaipuro de Oro in Venezuela, Pueblo Popular in Spain, Antena in Colombia and El Heraldo in Mexico.</li>
                <li>In 1981, he received the ‘CBS Cristal Globe Award’ in Paris for having sold the maximum number of records that year. </li>
                <li>The following year he was named ‘Brightest Hope – Male Vocalist’ by the National Committee for hits in Japan</li>
                <li>n 1983, he was presented the ‘Diamond Record’ given by Guinness Book of Records for selling 100 million albums in six languages. </li>
                <li>He won a Grammy for ‘Best Performance of a Latin Pop Artist’ in 1988 for his album ‘Un Hombre Solo’. </li>
                <li>In 2010, he received the ‘Lifetime Achievement Award’ from Sony Music and the ‘Gold Medal for Merit in Fine Arts’ from the Spanish Government.</li>
                <li>In 2013, he was named the ‘First and Most Popular International Artist of All Time’ in China.</li>
                <li>In 2016, he was given the title of ‘Legendary Artist’ by ‘The Brand Laureate’, which is considered to be the highest award for an artist in Asia.</li>
            </ul>
        <section>
            <h1>Major Works</h1>
            <p>Julio Iglesias has a number of hit albums that are all time favourites. Most popular of them are 
            ‘El Amor’ (1975), ‘Julio’ (1983), ‘1100 Bel Air Place’ (1984), ‘Un Hombre Solo’ (1987), ‘My Life: The Greatest Hits’ (1998),
             ‘Divorcio’ (2003) and ‘Romantic Classics’ (2006).</p>
        </section>

    </body>
</html>
