<div class="d-flex justify-content-center">
    <h1>Julio Iglesias most sold albums</h1>
</div>
<div class="d-flex justify-content-center">
    <ul>
        {{#each albums}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    </div>
</div>

<div class="d-flex justify-content-center">
    <img src="romantic_classics.jpg" alt="julio">
</div>




    

