<div class="container">
    <h1>Julio Iglesias most sold albums</h1>
    <ul>{{#each albums}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

</div>

<div class="container">
    <img src="romantic_classics.jpg" alt="julio">
</div>




    

