
html,
body {
  height: 100%;
}

body {

  font-family: sans-serif;
  }

body {
    background-image: url('/images/julio_playa.jpeg');
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}
